{% extends "base.html.twig" %}
{% block body %}
    {% for member in members %}
        <p>{{ member.lastName }} {{ member.firstName }}</p>
    {% endfor %}
    <a href="{{ path('member_create') }}">Créer un nouveau membre</a>
    <a href="{{ path('member_company_create') }}">Créer un nouveau membre avec une compagnie</a>
{% endblock %}

