<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script>
            toastr.options = {
                "positionClass": "toast-bottom-left"
            }
        </script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>Menus</p>
        <a href="{{ path('home') }}">Homepage</a>
        <a href="{{ path('company_read') }}">Sociétés</a>
        <a href="{{ path('member_read') }}">Membres</a>

        {% for message in app.flashes('success') %}
            <script>
                toastr.success('{{ message }}');
            </script>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <script>
                toastr.error('{{ message }}');
            </script>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
